@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

.job-type{
  border: 1px solid #a78f25;
  color: #997e08;
  padding: 3px 8px ;
  border-radius: 5px;
}



  